# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.BtSnoozDecoder.iml
# Datasource local storage ignored files
/../../../../../:\BtSnoozDecoder\.idea\.idea.BtSnoozDecoder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
